.navbar-light{
    background-color:#DCDCDD;
    height: 90px; 
}
.nav-item{
    align-items: right;
    font-size: large;
    font-family: 'Outfit';
    background-color: #dcdcdd;
}
.navbar-brand {
    font-size: xx-large;
    font-family: 'Outfit';
    color: solid black;
}
.navbar {
    width: 100%;
    z-index: 1;
    
}

.navbar-toggler {
    background-color: #dcdcdd;  
}

@media only screen and (max-width:414px) {
    .navbar{
        z-index: 1;
    }  
   
}