@import './scss/footer';
@import './scss/navbar';

* {
    box-sizing: border-box;
}
body {
    margin: 1;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    font-family: 'Outfit'; 
    background-color: #333; 
    flex-wrap: wrap;
    display: flex;
}


/* HOME */
.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

}
.content {
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header-video video {
    min-width: 100%;
    min-height: 100%;
}
.header-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    z-index: 1;
    opacity: .85;
}
.header-content {
    z-index: 2;
    text-align: center;
    h1 {
        font-size: 50px;
        margin-bottom: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    p {
        font-size: 1.5rem;
        display: flexbox;
        padding-bottom: 1rem;
        text-align: center;
    }
}


.btnh {
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: flex;
}

.btnh:hover {
    color: grey;
} 

/* BOTON ANIMADO menu responsive*/
.boton-animado {
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    border: 0; 
    background: transparent;
    gap: .45rem;
    border-radius: 0;
    box-decoration-break: none;
    margin-top: 4px;
    box-shadow: none;

    div {
    
        background: black;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }
   
}

.boton-animado:hover .primer-palo {
    transform: rotate(45deg);
}
.boton-animado:hover .segundo-palo {
    opacity: 0;
}
.boton-animado:hover .tercer-palo {
    transform: rotate(-45deg);
}
/*QUIENES SOMOS/ nosotros*/
.general-background {
    background-image: url(./fotos/foto-papel.jpg);
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/*.grid {
    display: flex;
    min-height: 100vh;
    width: 114em;
    grid-gap:6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    margin-top: 50px;
}
.grid-item{
    background-color: #fff;
    border-radius: 0.9rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.7s; 
}
.grid-item:hover {
    transform: translateY(-10%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.card-content {
    padding: 3rem;
}
.card-header {
    font-size: 3rem;
    font-weight: 500;
    color:#0d0d0d0d;
    margin-bottom: 1.5rem;

}
@media only screen and  (max-width: 60rem){
    .grid{
        grid-gap: 3rem;
    }
}*/
/* CATALOGO */
.btn {
    border-radius: 8px;
    position: relative;
    padding: 15px 32px;
    background-color: grey;
    color: white;
    font-family: 'Outfit';
    border: none;
}
.bg-light {
    color:  solid #DCDCDD;
}
/* Contacto */
form {
    margin: 0 auto;
}
.form-control {
    padding: 1.5em;
}
.btn-form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    box-shadow: none;
    background-color: black;
    align-self: center; 
} 
.bg-lightf {
    background-color: #DCDCDD;
}

/*QUE HACEMOS */


@media only screen and (max-width:414px) {
    .carousel-caption{
        display: block!important;
        font-size: 14px;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


/* Nosotros */


.card {
   background-color: #DCDCDD;
}

